.game {
  &__header {
    @include page-grid;

    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__header-top {
    grid-column: 1 /-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-bottom {
    grid-column: 1 /-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $main-text-color;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0;

    @include on-tablet {
      font-size: 100px;
    }
  }

  &__description {
    color: $main-text-color;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: $normal-font-weight;

    @include on-tablet {
      font-size: 18px;
    }
  }

  &__link {
    color: $main-text-color;
    font-size: 14px;
    font-weight: $bold-font-weight;

    @include on-tablet {
      font-size: 18px;
    }
  }

  &__controls {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $info-background-color;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    color: $info-text-color;
    box-sizing: border-box;
    font-size: 11px;
    margin: 0 0 0 8px;
    text-transform: uppercase;
    font-weight: $bold-font-weight;

    @include on-tablet {
      width: 75px;
      height: 75px;
      font-size: 13px;
    }
  }

  &__score {
    color: $secondary-text-color;
    font-size: 18px;

    @include on-tablet {
      font-size: 25px;
    }
  }

  &__content {
    position: relative;
  }

  &__field {
    background: $info-background-color;
    border-spacing: 10px;
    border-radius: 5px;
    margin: 0 auto;
  }

  &__how-play {
    margin-top: 40px;
  }

  .strong {
    font-weight: $bold-font-weight;
  }
}
