.game {
  $root: &;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
  background: #fbf8ef;

  &.active {
    #{$root}__container {
      background: #fff8de;
      box-shadow: 0 0 10px #edc22e;
    }
  }

  &:not(.active) {
    #{$root}__container:hover {
      background: #fff8de;
      box-shadow: 0 0 10px #edc22e;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    border-radius: 10px;
    cursor: pointer;

    transition-duration: 300ms;
    transition-property: background, box-shadow;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 75px;
    margin: 0;

    font-size: 24px;
    border-radius: 5px;

    background: #edc22e;
    color: #f9f6f2;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 24px;
    padding: 10px;
  }

  &__controls {
    display: flex;

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 75px;
      height: 75px;
      margin: 0 8px 0 0;

      font-size: 16px;
      border-radius: 5px;
      background: #d6cdc4;
      color: #776e65;
    }

    &-button-start {
      width: 75px;
      height: 75px;

      font-family: sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #f9f6f2;
      border: none;
      border-radius: 5px;

      cursor: pointer;
      transition: 0.25s ease background;
    }

    & .start {
      background: #1dae28;
      font-size: 20px;

      &:hover {
        background: #179921;
      }
    }

    & .restart {
      background: #f1b2b2;

      &:hover {
        background: #f87474;
      }
    }
  }

  &__messages {
    width: 100%;
  }
}
