.message {
  width: 100%;
  padding: 10px;

  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  background: #d6cdc4;
  color: #776e65;

  &-win {
    background: #edc22e;
    color: #f9f6f2;
  }

  &-lose {
    background: #f87474;
    color: #ffffff;
  }

  &.hidden {
    display: none;
  }
}
