.page {
  font-size: 10px;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__button-new {
    display: block;

    width: 25rem;
    height: 7.5rem;
    margin: 2rem auto;

    font-family: sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #f9f6f2;
    background: #edcd5f;
    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    outline: none;

    transition: 0.25s ease background;

    &:hover {
      background: #edc22e;
    }
  }
}
