.board {
  position: relative;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--s-board-gap);
  
  padding: var(--s-board-gap);
  border-radius: $s-border-radius;
  background-color: $c-game-board;
}
