.field-cell {
  background: $cell-background;
  width: $cell-size;
  height: $cell-size;
  border-radius: $border-radius;
  color: $text-color;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: $light-text-color;
  }

  &--16 {
    background: #f59563;
    color: $light-text-color;
  }

  &--32 {
    background: #f67c5f;
    color: $light-text-color;
  }

  &--64 {
    background: #f65e3b;
    color: $light-text-color;
  }

  &--128 {
    background: #edcf72;
    color: $light-text-color;
  }

  &--256 {
    background: #edcc61;
    color: $light-text-color;
  }

  &--512 {
    background: #edc850;
    color: $light-text-color;
  }

  &--1024 {
    background: #edc53f;
    color: $light-text-color;
  }

  &--2048 {
    background: #edc22e;
    color: $light-text-color;
  }
}
