.game-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

h1 {
  background: $win-background;
  color: $light-text-color;
  width: $cell-size;
  height: $cell-size;
  font-size: 24px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}
