.message {
  position: fixed;
  inset: 0;

  @include center;

  display: none;
  background-color: #00000071;
  z-index: $z-modal;

  animation: showMessage 1s forwards;

  &__content {
    position: relative;
    width: clamp(280px, 93.75vw, 420px);
    /* stylelint-disable-next-line */
    aspect-ratio: 1;

    @include column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    font-size: clamp(16px, 5vw, 20px);
    text-align: center;
    color: $c-main-text;

    background: $c-accent-text;
    padding: 60px 10px 40px;
    border-radius: $s-border-radius;

    animation: showMessageContent 1s forwards;
  }

  &__try-again {
    min-height: 40px;
    width: 50%;

    color: $c-accent-text;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.05rem;

    background-color: $c-game-board;
    border-radius: $s-border-radius;

    &:hover {
      transition: $a-transition-time;
      filter: brightness(1.2);
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  
    font-size: 24px;
    color: $c-main-text;
    line-height: 85%;
    
    &:hover {
      transition: $a-transition-time;
      filter: brightness(0.8);
    }
  }
}
