.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $main-background-color;
  font-family: $font-family;
  font-size: 24px;
  font-weight: $bold-font-weight;

  &__container {
    width: 350px;
    height: 660px;
  }
}
