$fontcolor-ceil: #06090d;
$fontcolorsecond-ceil: #88919a;
$background-ceil: #29323b;

$ceil-2-bg: #111b25;
$ceil-4-bg: #121f37;
$ceil-8-bg: #0d4e86;
$ceil-16-bg: #0a6a9c;
$ceil-32-bg: #0983a0;
$ceil-64-bg: #09a1c4;
$ceil-128-bg: #12308d;
$ceil-256-bg: #12339e;
$ceil-512-bg: #1237af;
$ceil-1024-bg: #123ac0;
$ceil-2048-bg: #123dd1;

$btn-start: #62717e;
$btn-start-hover: #44525f;
$btn-restart: #0e4d4d;
$btn-restart-hover: #078b8b;

$backgroundbody: #040710;
$bg-gamefield: #44525f;
