$fontcolor-ceil: #f9f6f2;
$fontcolorsecond-ceil: #776e65;
$background-ceil: #d6cdc4;

$ceil-2-bg: #eee4da;
$ceil-4-bg: #ede0c8;
$ceil-8-bg: #f2b179;
$ceil-16-bg: #f59563;
$ceil-32-bg: #f67c5f;
$ceil-64-bg: #f65e3b;
$ceil-128-bg: #edcf72;
$ceil-256-bg: #edcc61;
$ceil-512-bg: #edc850;
$ceil-1024-bg: #edc53f;
$ceil-2048-bg: #edc22e;

$btn-start: #1dae28;
$btn-start-hover: #179921;
$btn-restart: #f1b2b2;
$btn-restart-hover: #f87474;

$backgroundbody: #fbf8ef;
$bg-gamefield: #bbada0;
