body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
   font-family: sans-serif;
   font-size: 24px;
   font-weight: 900;
   overflow: hidden;
 }

 .field-cell {
  background: #d6cdc4;
  width: 75px;
  height: 75px;
   border-radius: 5px;
   color: #776e65;
   box-sizing: border-box;
   user-select: none;
 }

 .game-field {
   position: relative;
   display: flex;
   background: #bbada0;
   border-spacing: 10px;
   border-radius: 5px;
 }

 .game-field__tbody {
   position: relative;
   width: 100%;
   height: 100%;
 }

 .tile {
   position: absolute;
   z-index: 1;
   width: 75px;
   height: 75px;
   border-radius: 5px;
   color: #776e65;
   box-sizing: border-box;
   text-align: center;
   vertical-align: center;
   user-select: none;
   line-height: 75px;
   transition-property: top left color, background-color;
   transition-duration: 0.2s;

   &--2 {
     background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
   }
 }

 .game-header {
   display: flex;
   width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
   color: #776e65;
   box-sizing: border-box;
   font-size: 16px;
   margin: 0;
 }

 .button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

 .message-container {
   width: 100%;
 }

 .anim-show {
   animation: show 0.3s ease-in-out backwards 0.2s;
 }

 .anim-merge {
   animation: merge 0.3s;
 }

 @keyframes show {
   0% {
     transform: scale(0);
   }

   100% {
     transform: scale(1);
   }
 }

 @keyframes merge {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.15);
   }

   100% {
     transform: scale(1);
   }
 }
