@import "animations";

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
  overflow-y: hidden;
}

.field-cell {
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  transition: 0.5s ease-in-out;

  &--2 {
    background: #eee4da;
    animation: show 0.2s ease-in-out;
  }

  &--4 {
    background: #ede0c8;
    animation: show 0.2s ease-in-out;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
    animation: show 0.2s ease-in-out;
  }
}

.game-field {
  background: #bbada0;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.score-update {
  position: absolute;
  z-index: 100;

  animation: move-up 0.6s ease-in;
  animation-fill-mode: both;
}

.controls {
  display: flex;
}

.button {
  width: 75px;
  height: 75px;

  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #f9f6f2;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  outline: none;

  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.game-container {
  position: relative;
}

.message {
  box-sizing: border-box;
  padding: 10px;

  font-size: 20px;
  color: #776e65;

  border-radius: 5px;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: rgba(238, 228, 218, 0.73);
  border-radius: 5px;

  animation: fade-in 0.8s ease 0.3s;
  animation-fill-mode: both;
}
