body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.field-cell {
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.game-field {
  background: #bbada0;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;

  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.cheat-button {
  background: #803939;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;

  &:hover {
    background: #350c0c;
    color: #fff;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #ccff14;
  color: #36440f;
}

.message-lose {
  background: #9b3314;
  color: #f9f6f2;
}

.message-tatal__score {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.message-container {
  width: 100%;
  height: 150px;
}

.cheat-menu-container {
  position: relative;
  margin-bottom: 170px;
  margin-left: 20px;
  background: #d6cdc4;
  color: #776e65;
  border: #bbada0 solid 8px;
  border-radius: 10px;

  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
}

// Don't ask me why i didn't use SCSS advantages (im talking about &)
.apply-cheat-button {
  margin-top: 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  background: #705d58;
  color: #ddcac9;
  font-size: 24px;
  cursor: pointer;
  transition:
    0.25s ease color,
    0.25s ease background,
    0.25s ease border;
  font-weight: 700;

  &:hover {
    border: 2px solid transparent;
    background: #200;
    color: #682c2c;
  }
}

.cheat-menu__option {
  border: 2px solid transparent;
  background: #5f5953;
  font-size: 16px;
  font-weight: bold;
  color: #dbcfc3;
}

.cheat-menu__input {
  border: 2px solid transparent;
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  background: #5f5953;
  color: #dbcfc3;
}
