$primary-color: #edc22e;
$secondary-color: #d6cdc4;
$accent-color: #776e65;
$background-color: #fbf8ef;

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $background-color;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.game-container {
  width: 360px;
  height: 360px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $secondary-color;
  background-color: #bbada0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.cell {
  width: 77px;
  height: 77px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #f9f6f2;

  &[data-value="2"] {
    color: $accent-color;
    background-color: #eee4da;
  }

  &[data-value="4"] {
    color: $accent-color;
    background-color: #ede0c8;
  }

  &[data-value="8"] {
    background-color: #f2b179;
  }

  &[data-value="16"] {
    background-color: #f59563;
  }

  &[data-value="32"] {
    background-color: #f67c5f;
  }

  &[data-value="64"] {
    background-color: #f65e3b;
  }

  &[data-value="128"] {
    background-color: #edcf72;
  }

  &[data-value="256"] {
    background-color: #edcc61;
  }

  &[data-value="512"] {
    background-color: #edc850;
  }

  &[data-value="1024"] {
    background-color: #edc53f;
  }

  &[data-value="2048"] {
    background-color: #edc22e;
  }

  &[data-value="4096"] {
    background-color: #be2cd2;
  }
}

.new-tile {
  animation: appear 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: $primary-color;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  position: relative;

  &:hover{
    &::before{
      content: 'to simulate the end of the game, press "e" - lose, "w"- win';
      position: absolute;
      inset: 0 -220px -50px 0;
      font-size: 20px;
      font-weight: normal;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $secondary-color;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: $accent-color;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;
  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }

  &::after {
    content: "Start";
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }

  &::after {
    content: "Restart";
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: $secondary-color;
  color: $accent-color;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.message-win {
  background: $primary-color;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: 150px;
}
