@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");

body {
  margin: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
    url(../images/background.jpg) center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

*::before,
*::after {
  box-sizing: border-box;
}

.field_cell {
  background: #d6cdc4;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;
}

#game_field {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template: repeat(4, 75px) / repeat(4, 75px);
  position: relative;
  border-spacing: 10px;
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(
    from var(--border-angle),
    #213,
    #213,
    #213
  ),
    conic-gradient(from var(--border-angle),
  transparent 20%,
  rgb(61, 159, 245),
  rgb(238, 72, 105));
  background-size: calc(100% - (var(--border-size) * 2))
    calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

// @property --border-angle {
//   syntax: "<angle>";
//   inherits: true;
//   initial-value: 0turn;
// }

.field_tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 28px;
  background-color: hsl(23, 50%, var(--bg-lightness));
  color: hsl(23, 25%, var(--text-lightness));
  border-radius: 5px;
  top: calc(var(--y) * (75px + 10px) + 10px);
  left: calc(var(--x) * (75px + 10px) + 10px);
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

.game_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #1e112f;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 75px;
  height: 75px;
  outline: none;

  transition: 0.25s ease background;
}

.start {
  background: rgb(154, 179, 87);

  &:hover {
    background: rgb(35, 112, 42);
  }

  &:active {
    transform: scale(0.95);
  }
}

.restart {
  background: #e68383;
  font-size: 15px;

  &:hover {
    background: #b14b4b;
  }

  &:active {
    transform: scale(0.95);
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #1e112f;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message_win {
  background: #edc22e;
  color: #f9f6f2;
}

.message_container {
  width: 100%;
  height: 150px;
}
