:root {
  --cell-size: 75px;
  --cell-gap: 10px;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.game-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  gap: var(--cell-gap);
  border-radius: var(--border-radius);
  background-color: #bbada0;
  padding: var(--cell-gap);
}

.cell {
  background-color: #d6cdc4;
  border-radius: var(--border-radius);
  color: #776e65;

}

.tile {
  --y: 0;
  --x: 0;

  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--border-radius);
  background-color: #d6cdc4;
  color: #776e65;

  transition: 0.1s;
  animation: appearance 0.2s;

  &--2 {
    background-color: #eee4da;
  }

  &--4 {
    background-color: #ede0c8;
  }

  &--8 {
    background-color: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background-color: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background-color: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background-color: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background-color: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background-color: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background-color: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background-color: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background-color: #edc22e;
    color: #f9f6f2;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background-color: #edc22e;
  color: #f9f6f2;
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d6cdc4;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--border-radius);
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: var(--cell-size);
  height: var(--cell-size);

  transition: 0.25s ease background-color;
}

.start {
  background-color: #1dae28;
  font-size: 20px;

  &:hover {
    background-color: #179921;
  }
}

.restart {
  background-color: #f1b2b2;

  &:hover {
    background-color: #f87474;
  }
}

.message {
  width: 100%;
  background-color: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background-color: #edc22e;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: 150px;
}
