body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
  transition: 0.3s;
  padding: 10px;
  overflow: hidden;
}

.field-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6cdc4;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  transition: 0.3s;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.game-field {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(4, 75px);
  gap: 10px;
  border: 10px solid #bbada0;
  border-radius: 10px;
  background: #bbada0;
  transition: 0.3s;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f6ecde;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 10px 0 0;
}

.controls {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f6ecde;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;
  outline: none;

  transition: 0.25s ease background;
}

.start {
  background: #53b350;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f39b9b;

  &:hover {
    background: #f87474;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: 150px;
}
