body {
  display: flex;
  background-image: url(../images/background-desk.jpg);
  background-position: 55% 15%;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  color:#fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

button {
  width: 180px;
  height: 50px;
  outline: none;
  font-size: large;
  font-weight: bold;
  background-color: #8f7a66;
  color:#f9f6f2;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;

  &::after {
    content: "New Game";
  }

  &:hover {
    color: #8f7a66;
    background-color:#f9f6f2;

    &::after {
      content: "Restart";
    }
  }
}

.warning {
  color: rgb(119, 110, 101);
  background: rgba(238, 228, 218, 0.73);
  font-size: 60px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  z-index: 3;
}

.counter {
  color:#eee4da;
  font-size: 20px;
  transition-delay: 1s;

  &::after {
    content: "Score";
  }

  &:hover {
    &::after {
      content: "Good luck!";
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.board {
  display: flex;
  width: 40vw;
  height: 40vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bbada0;
}

.square {
  display: flex;
  width: 22%;
  height: 22%;
  margin: 1%;
  border-radius: 3px;
  background: rgba(238,228,218,0.35);
  justify-content: center;
  align-items: center;
  position: relative;
}

.elementContainer {
  margin-bottom: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.scoreElementContainer {
  display: flex;
  flex-direction: column;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center;
  margin-left: 10px;
}

.merged {
  animation: blink 0.25s;
}

.tile {
  width: 22%;
  height: 22%;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  color:#f9f6f2;
  background-color: #edc22e;
  transition: top 0.25s, left 0.25s, width 1s, height 1s;
}

@for $i from 1 through 4 {
  .row#{$i} {
    top: 75% - 24% * ($i - 1);
  }
}

@for $i from 1 through 4 {
  .column#{$i} {
    left: 3% + 24% * ($i - 1);
  }
}

.value2 {
  color:rgb(119, 110, 101);
  background-color: #eee4da;
}

.value4 {
  color:rgb(119, 110, 101);
  background-color: #eee1c9;
}

.value8 {
  background-color: #fea558;
}

.value16 {
  color:#f9f6f2;
  background-color: #f77e3c;
}

.value32 {
  color:#f9f6f2;
  background-color: #ff7555;
}

.value64 {
  color:#f9f6f2;
  background-color: #fc542f;
}

.value128 {
  color:#f9f6f2;
  background-color: #edd073;
}

.value256 {
  color:#f9f6f2;
  background-color: #edcc62;
}

.value512 {
  color:#f9f6f2;
  background-color: #efc53b;
}

.value1024 {
  color:#f9f6f2;
  background-color: #efbb11;
  font-size: 40px;
}

.value2048 {
  color:#f9f6f2;
  background-color: #ebb400;
  font-size: 40px;
}

.value4096 {
  color:#f9f6f2;
  background-color: #03e94cf5;
  font-size: 40px;
}

.value8192 {
  color:#f9f6f2;
  background-color: #009c08;
  font-size: 40px;
}

.value16384 {
  color:#f9f6f2;
  background-color: #0ad000af;
  font-size: 40px;
}

.value32768 {
  color:#f9f6f2;
  background-color: #5d00ffd7;
  font-size: 40px;
}

@media(max-width:600px) {
  .tile{
    font-size: 25px;
  }

  h1 {
    font-size:40px;
  }

  button {
    width: 100px;
    height: 30px;
    font-size: small;
  }

  .scoreElementContainer{
    font-size: 16px;
  }

  .counter {
    font-size: 18px;
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}
