$primary-color: #edc22e;
$secondary-color: #f9f6f2;
$background-color: #d6cdc4;
$cell-color: #776e65;

$cell-width: 75px;
$cell-height: 75px;
$cell-border-radius: 5px;

@mixin cell($background) {
  background-color: $background;
  color: $secondary-color;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.field-cell {
  background-color: $background-color;
  width: $cell-width;
  height: $cell-height;
  border-radius: $cell-border-radius;
  color: $cell-color;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;
  transition: 0.1s ease-in-out;

  &--2 {
    background-color: #eee4da;
  }

  &--4 {
    background-color: #ede0c8;
  }

  &--8 {
    @include cell(#f2b179);
  }

  &--16 {
    @include cell(#f59563);
  }

  &--32 {
    @include cell(#f67c5f);
  }

  &--64 {
    @include cell(#f65e3b);
  }

  &--128 {
    @include cell(#edcf72);
  }

  &--256 {
    @include cell(#edcc61);
  }

  &--512 {
    @include cell(#edc850);
  }

  &--1024 {
    @include cell(#edc53f);
  }

  &--2048 {
    @include cell(#edc22e);
  }
}

.game-field {
  background-color: #bbada0;
  border-spacing: 10px;
  border-radius: $cell-border-radius;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

.game-name {
  @include cell($primary-color);

  width: $cell-width;
  height: $cell-height;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  width: $cell-width;
  height: $cell-height;
  border-radius: $cell-border-radius;
  color: $cell-color;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: $cell-border-radius;
  cursor: pointer;
  color: $secondary-color;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: $cell-width;
  height: $cell-height;
  transition: 0.3s ease background-color;
}

.start {
  background-color: #1dae28;
  font-size: 20px;

  &:hover {
    background-color: #179921;
  }
}

.restart {
  background-color: #eb7878;

  &:hover {
    background-color: #f74747;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background-color: $background-color;
  color: $cell-color;
  padding: 10px;
  text-align: center;
  border-radius: $cell-border-radius;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  @include cell($primary-color);
}

.message-container {
  width: 100%;
  height: 150px;
}
