* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fbf8ef;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  row-gap: 24px;
}


.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}


.tile-container {
  position: absolute;
  top: 0;
  left: 0;
}

.game-field {
  position: relative;
  background: #bbada0;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(4, 75px);
  grid-template-columns: 1fr;
  gap: 10px;

}

.field-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 75px);
  gap: 10px;
}

.field-cell {
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;

  display: flex;
  align-items: center;
  justify-content: center;

  &--2 {
    background: #eee4da;
  }

  &--4 {
    background: #ede0c8;
  }

  &--8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &--16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &--32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &--64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &--128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &--256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &--512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &--1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &--2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;
  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}

.message {
  box-sizing: border-box;
  width: 100%;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
  height: 150px;
}


.tile {
  position: absolute;
  transition: transform 0.2s top .2s, left .2s;
  top: 0;
  left: 0;

  &.merge {
    animation: merge 0.2s;
  }

  &.new {
    animation: new 0.2s;
  }
}

@keyframes merge {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes new {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
