$field-size: 368px;
$cell-gap: $field-size / 40;
$cell-size: ($field-size - $cell-gap * 3) / 4;
$controll-size: $field-size / 5;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/wavey-fingerprint.svg);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 900;
  overflow: hidden;
  animation: fadein 1s ease-in-out;
}

.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: calc($field-size + $controll-size * 4);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f1b2b2;
  border-radius: 10px;
  animation: fadein 1s ease-in-out;
}

.game-field {
  justify-self: center;
  box-sizing: border-box;
  width: $field-size;
  height: $field-size;
  border-radius: 10px;
  padding: 20px;
}

.field-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $cell-gap;
  height: $field-size;
  width: $field-size;
}

.field-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $cell-gap;
  margin: 0;
  padding: 0;
  width: $field-size;
  height: $cell-size;
}

.field-cell {
  font-family: Roboto, serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;

  width: $cell-size;
  height: $cell-size;
  border-radius: 10px;
  color: #755e47;
  text-align: center;
  user-select: none;
}

.tile-popping {
  animation: appear 0.13s ease-out forwards;
}

.game-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  background: #7d6f60;
  color: #f9f6f2;
  width: 5 * $cell-size;
  height: 1.5 * $cell-size;
  font-size: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d6cdc4;
  width: $controll-size;
  height: $controll-size;
  border-radius: 10px;
  color: #776e65;
  box-sizing: border-box;
  font-size: 16px;
  animation: fadein 1s ease-in-out;
}

.controls {
  position: absolute;
  top: 0;
  right: $controll-size / 2;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #f9f6f2;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: $controll-size;
  height: $controll-size;
  transition:
    0.25s ease background,
    transform 0.25s ease;

  &:hover {
    transform: scale(1.1);
  }
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

.start {
  display: block;
  background: #1dae28;
  font-size: 20px;

  &:hover {
    background: #179921;
  }
}

.restart {
  display: none;
  background: #c66262;

  &:hover {
    background: #f87474;
  }
}

.message {
  box-sizing: border-box;
  background: #d6cdc4;
  color: #776e65;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  animation: fadein 1s ease-in-out;
}

.hidden {
  display: none;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  width: $field-size;

  height: 150px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bouncein {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    transform: scale(0.5); /* Початковий стан: маленька плитка */
    opacity: 0; /* Початковий стан: невидима */
  }
  50% {
    transform: scale(1.05); /* Середній стан: збільшена плитка */
    opacity: 0.5; /* Середній стан: напівпрозора плитка */
  }
  100% {
    transform: scale(1); /* Кінцевий стан: нормальний розмір */
    opacity: 1; /* Кінцевий стан: видима плитка */
  }
}

.copy-table {
  position: absolute;
  top: -1px;
  padding: 20px;
  width: $field-size;
  height: $field-size;
  border: 1px solid #705f4d;
  border-radius: 20px;
  background-color: #7d6f60;
  z-index: -1;
}

.copy-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $cell-gap;
}

.copy-row {
  width: $field-size;
  height: $cell-size;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $cell-gap;
}

.copy-cell {
  width: $cell-size;
  height: $cell-size;
  color: #776e65;
  background-color: #d6cdc4; /* Колір плитки */
  border-radius: 10px; /* Закруглені краї (якщо потрібно) */
  border: 1px solid #d6cdc4; /* Тонкий бордер для заглибленої плитки */
  box-shadow:
    inset 0 -2px 5px rgba(255, 255, 255, 0.6),
    /* Біла тінь знизу */ inset 0 2px 5px rgba(0, 0, 0, 0.6);
}

.hidden-tile {
  visibility: hidden;
}
