@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #e2e2e2, #c9d6ff);
  color: #232946;

  margin: 0 2vmin;
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.side {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 20%;
  }
}

.title {
  text-decoration: none;
  color: #fffffe;
  font-weight: 700;
  font-size: 7vmin;
  transition: color 0.3s ease;
  text-shadow: -1px 1px 0 #121629,
    1px 1px 0 #121629,
    1px -1px 0 #121629,
    -1px -1px 0 #121629;

  &:hover {
    color: #b8c1ec;
  }
}

.select-size {
  text-align: center;
}

.score-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.score {
  position: relative;
  background: #121629;
  font-size: 5vmin;
  height: 10vmin;
  width: 13vmin;
  font-weight: 700;
  border-radius: 1vmin;
  color: #b8c1ec;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1.5vmin;

  &::after {
    position: absolute;
    width: 100%;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 2.5vmin;
    line-height: 2vmin;
    text-align: center;
    color: #fffffe;
  }

  &--current:after {
    content: "Score";
  }
  
  &--best:after {
    content: "Best";
  }
}

.button {
  cursor: pointer;
  width: 50%;
  height: 7vmin;
  background: transparent;
  border: 0.5vmin solid #121629;
  border-radius: 1vmin;
  text-decoration: none;
  color: #121629;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5vmin;

  &:hover {
    background: #eebbc3;
  }
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 50%;
  }
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #b8c1ec;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
  font-size: var(--font-size);
  margin: 0 var(--cell-gap);
  animation: show 1500ms ease-in-out;
}

.cell {
  border: 0.5vmin solid #121629;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  border: 0.5vmin solid #121629;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: 900;
  background-color: hsl(25, 50%, var(--bg-color));
  color: hsl(25, 25%, var(--text-color));
  animation: show 200ms ease-in-out;
  transition: 150ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

.modal-container {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  color: #121629;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4vmin;
}

.modal-lose,

.modal-win {
  display: none;
  height: 30vmin;
  font-size: 4vmin;
  font-weight: bold;
}
