$field-cell-size: 14vmin;
$border-radius-length: 2vmin;
$transition-duration: 0.3s;
$field-cell-background-color: #444;
$body-background-color: #333;
$title-background-color: #555;
$title-color: #f9f6f2;
