%h1 {
  font-family: Inter, sans-serif;
  font-weight: 400;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h2 {
  font-family: Inter, sans-serif;
  font-weight: 400;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

%h3 {
  font-family: Inter, sans-serif;
  font-weight: 500;

  letter-spacing: 0.02em;
}

%p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: -0.01em;
}
