$background-color: #fbf8ef;
$cell-background: #d6cdc4;
$text-color: #776e65;
$light-text-color: #f9f6f2;
$win-background: #edc22e;
$lose-background: #b8755b;
$start-button-background: #1dae28;
$restart-button-background: #f87575;
$game-field-background: #bbada0;
$cell-size: 75px;
$border-radius: 5px;
$border-spacing: 10px;
$tablet-default-width: 640px;
$laptop-default-width: 1024px;
$desktop-default-width: 1201px;
$effect-duration: 0.3s;
