$grid-size: 4;
$cell-size: 75px;
$cell-gap: 10px;

$background: #b2dbd5;
$grid: #2b616d;
$cells: #e6f3f1;
$score-tile: #2b616d;
$tile2048: #e05858;
$start-button: #fa8d62;
$message: #e05858;
$text-color: #f4eade;
