$font-family: "PT Sans Caption", sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 700;
$main-background-color: #fbf8ef;
$main-text-color: #776e65;
$secondary-text-color: #f9f6f2;
$info-background-color: #bbada0;
$info-text-color: #eee4da;
$field-background-color: #d6cdc4;
$field-text-color: #776e65;
$secondary-field-text-color: #f9f6f2;
$ceil-2-background-color: #eee4da;
$ceil-4-background-color: #ede0c8;
$ceil-8-background-color: #f2b179;
$ceil-16-background-color: #f59563;
$ceil-32-background-color: #f67c5f;
$ceil-64-background-color: #f65e3b;
$ceil-128-background-color: #edcf72;
$ceil-256-background-color: #edcc61;
$ceil-512-background-color: #edc850;
$ceil-1024-background-color: #edc53f;
$ceil-2048-background-color: #edc22e;
$button-background: #8f7a66;
$button-background-hover: #7c6d77;
$message-background-color: rgba(214, 214, 196, 0.8);
$message-background-color-win: rgba(154, 126, 170, 0.8);
$content-mobile-min-width: 320px;
$tablet-min-width: 640px;
