$title-bg-color: #000;
$title-text-color: #fffc00;
$message-bg-color: #000;
$message-text-color: #fffc00;
$body-bg-color: #060606;
$cell-color: #cecece;
$cell-size: 12vmin;
$cell-font-size: 5vmin;
$cell-font-color: #000;
$tile-transition: 300ms;
$start-color: #1dae28;
$start-hover-color: #179921;
