$font-family: "PT Sans Caption", sans-serif;
$normal-font-weight: 400;
$bold-font-weight: 900;
$main-background-color: #fefbf6;
$main-text-color: #64696b;
$secondary-text-color: #f9f6f2;
$info-background-color: #d6cdc4;
$info-text-color:  #64696b;
$field-background-color: #9fa2a4;
$field-text-color: #64696b;
$secondary-field-text-color: #f9f6f2;
$ceil-2-background-color: #ededed;
$ceil-4-background-color: #ede0c8;
$ceil-8-background-color: #f2b179;
$ceil-16-background-color: #f59563;
$ceil-32-background-color: #f67c5f;
$ceil-64-background-color: #f65e3b;
$ceil-128-background-color: #edcf72;
$ceil-256-background-color: #edcc61;
$ceil-512-background-color: #edc850;
$ceil-1024-background-color: #edc53f;
$ceil-2048-background-color: #ecb159;
$content-mobile-min-width: 320px;
$tablet-min-width: 640px;
$cell-width: 75px;
$cell-height: 75px;
$cell-gap: 10px;
